.errorlist{
  color: #a94442;
}

.main-text {

  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #777;
  background-color: #eee;
}
.carousel {
  margin-top:70px;
}
.contact_btn{
  margin-bottom: 25px;
}